@charset "UTF-8";
body,
html {
	height: 100%;
	margin: 0;
	font-family: "Arial", "sans-serif";
}

.nav {
	overflow: hidden;
	background-color: white;
	text-align: center;
	padding: 1%;
}

.navbar-text {
	color: black;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

ul.topnav li {
	float: left;
}

ul.topnav a,
.dropbtn {
	display: inline-block;
	text-align: center;
	padding: 10px 60px;
	text-decoration: none;
	color: black;
}

ul.topnav li a:hover,
.dropdown:hover .dropbtn {
	background-color: #F1F1F1;
}

ul.topnav li.dropdown {
	display: inline-block;
}

ul.topnav .dropdown-content {
	display: none;
	position: fixed;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

ul.topnav .dropdown-content a {
	color: black;
	padding: 10px 63px;
	text-decoration: none;
	display: block;
	text-align: center;
}

ul.topnav .dropdown-content a:hover {
	background-color: #f1f1f1;
}

ul.topnav .dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {
	ul.topnav li {
		float: none;
	}
	ul.topnav li.right,
}

.Navi {
	text-decoration: none;
	display: inline-block;
	padding: 5px 14px;
	color: black;
}

h1 {
	padding-left: 3%;
	padding-top: 1%
}

@media (max-width: 500px) {
	h1 {
		text-align: center;
	}
}

p {
	padding-left: 3%;
}

@media (max-width: 500px) {
	p {
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
	}
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 10px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
}

#myBtn:hover {
	background-color: white;
	color: black;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 55px;
	background-color: white;
	color: black;
	text-align: right;
}

.photos {
	line-height: 3.5;
	-webkit-column-count: 4;
	-webkit-column-gap: 6;
	-moz-column-count: 4;
	-moz-column-gap: 6;
	column-count: 4;
	column-gap: 25px;
	margin: 55px;
}

@media (max-width: 1000px) {
	.photos {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media (max-width: 800px) {
	.photos {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 500px) {
	.photos {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

.pagination {
	display: inline-block;
	text-align: center;
}

.pagination a {
	border-radius: 7px;
	color: black;
	float: left;
	padding: 10px 16px;
	text-decoration: none;
	transition: .3s;
	text-align: center;
}

.pagination .active {
	border-radius: 7px;
	background-color: black;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.center {
	text-align: center;
	padding-bottom: 7%;
}

@media (max-width: 500px) {
	.center {
		text-align: center;
		padding-bottom: 20%;
	}
}
